<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HTML 练习页面</title>
</head>
<body>
  <div>
    <h1>这是一个一级标题</h1>
    <h2>这是一个二级标题</h2>
    <h3>这是一个三级标题</h3>
    <h4>这是一个四级标题</h4>
    <h5>这是一个五级标题</h5>
    <h6>这是一个六级标题</h6>
    <p>这是一个段落</p>
    <p>这是另外一个段落</p>
  </div>

  <div>
    <p>在 span 标签中的段落</p>
    <a href="https://ceshiren.com/" target="_blank">测试人社区</a>
    <ul>
      <li><a href="https://ceshiren.com/">首页</a></li>
      <li>关于页面</li>
      <li>登录</li>
    </ul>
    <ol>
      <li>第一</li>
      <li>第二</li>
      <li>第三</li>
    </ol>
    <table border="1">
      <thead>
        <tr>
          <td>学号</td>
          <td>姓名</td>
          <td>年龄</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>feier</td>
          <td>18</td>
        </tr>
        <tr>
          <td>2</td>
          <td>lily</td>
          <td>19</td>
        </tr>
      </tbody>

    </table>

    <form action="/login" method="post">
      用户名：
      <input type="text" name="username" placeholder="请输入你的用户名" required>
      密码：
      <input type="password" name="password" placeholder="请输入你的密码" required>
      <input type="reset">
      <input type="submit">
    </form>
  </div>
  <img src="https://ceshiren.com/uploads/default/original/1X/809c63f904a37bc0c6f029bbaf4903c27f03ea8a.png" alt="百度搜索结果icon">

</body>
</html>
<script type="text/javascript"></script>