<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes.css') }}"/>
    <title>首页</title>
</head>
<body class="home-page">
    <div class="centered-text">Welcome to My Musings on Books</div>
    <div class="menu">
        <ul>
            <li>
                <a href="/notes">笔记列表</a>
            </li>
            <li><a href="/notes/create">添加笔记</a></li>
        </ul>
    </div>



<!--    <script src="{{ url_for('static', filename='js/notes.js') }}"></script>-->
</body>
</html>
<script type="text/javascript"></script>